* {
  box-sizing: border-box;
}

body,html {
    padding: 0;
    margin: 0;

}
img {
    max-width: 100%;
    height: auto;
}
main {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:1rem;
}
article {
  border:1px solid #ccc;
  padding: 1rem;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
#wrapper {
    margin: 1rem;
    display: grid;
    grid-template-columns: 200px 1fr;
}
header h1 {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    width: 180px;
    height: 80px;
    text-indent: -9999px;
}
.store main {
    grid-column: 1/-1;
}

/*responsivness*/
@media only screen and (min-width: 1000px){
    header {
        grid-column: 1/-1;
    }
    .store main {
    grid-column: 2/-1;
}
