* {
    box-sizing: border-box;
}

body,
html {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F2F2;
    padding: 0;
    margin: 0;
}

.topnav {
    background-color: white;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: dimgrey;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 1em;
}

.topnav a:hover {
    background-color: #96F7E3;
    color: black;
}

.topnav a.active {
    font-weight: bolder;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: 1px solid #96F7E3;
    margin-top: 5px;
    margin-right: 10%;
    font-size: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

header {

    background-color: #96F7E3;
    position: relative;
}

h1 {
    margin-top: 0;
    padding-top: 10px;
    margin-left: 35%;
}

h2 {
    margin: 0;
    margin-left: 35%;
}

.navbar {
    width: 100%;
    margin-left: 12%;
    overflow: auto;
}

.navbar a {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #8ECEAB;
    float: left;
    padding: 12px;
    color: dimgrey;
    text-decoration: none;
    font-size: 17px;
    width: 25%;
    text-align: center;
}

.navbar a:hover {
    background-color: #8ECEAB;
}

.navbar a.active {
    background-color: #8ECEAB;
}

article {
    background-color: white;
    padding: 1rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.store main {
    margin-top: 3%;
    grid-column: 1/-1;
}

.price {
    display: block;
    margin: 0;
    padding: 7px;
    background-color: #8ECEAB;
}

.btn {
    display: block;
    margin-left: auto;
    padding: 7px;
    background-color: #F2F2F2;
    border: 2px solid #8ECEAB;

}

.box {
    display: flex;

}

.categories {
    margin-top: 2%;
    margin-left: 20%;
    overflow: auto;

}

.categories a {
    text-decoration: none;
    color: dimgrey;
    padding: 15px;

}

/*responsivness*/
@media only screen and (min-width: 800px) {
    main {
        margin-left: 20%;
        margin-right: 20%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
    }

    @media screen and (max-width: 500px) {
        .navbar a {
            float: none;
            display: block;
            width: 100%;
            text-align: left;
        }

        .topnav a,
        .topnav input[type=text] {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }
        .topnav input[type=text] {
            border: 1px solid #ccc;
        }
    }
