* {
  box-sizing:border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Oxygen-Sans, Ubuntu, Cantarell,
               "Helvetica Neue", sans-serif;
}

main {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.post {
  border:1px solid #ccc;
  padding: 1rem;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.post h2 {
  text-transform: uppercase;
  font-weight:200;
  color:royalblue;
}
